@use '../core/variables' as vars;
@use '../core/typography' as typography;

$button-font-family: typography.$font-family;
$button-font-weight: typography.$text-medium;
$button-font: typography.$body;

button {
	box-sizing: border-box !important;
	background-color: unset;
	border: unset;
	font-family: $button-font;
	font-weight: $button-font-weight;
}

.btn {
	cursor: pointer;
	position: relative;
	font-family: var(--font-family);
	color: white;
	font-size: 20px;
	font-weight: 500;
	padding: 8px;

	&.icon-only {
		.btn--content {
			padding: 8px;
		}
	}

	&:hover {
		.btn--top-border:before,
		.btn--top-border:after,
		.btn--bottom-border:before,
		.btn--bottom-border:after {
			width: 16px;
			height: 16px;
		}
	}

	&:active {
		.btn--content {
			background-color: white;
			color: black;
		}
	}

	&--top-border:before,
	&--top-border:after,
	&--bottom-border:before,
	&--bottom-border:after {
		transition:
			width 150ms ease-in-out,
			height 150ms ease-in-out;
		position: absolute;
		width: 10px;
		height: 10px;
		content: '';
		background-color: transparent;
	}

	&--top-border:before {
		top: 0;
		left: 0;
		border-top: 2px solid white;
		border-left: 2px solid white;
	}

	&--top-border:after {
		top: 0;
		right: 0;
		border-top: 2px solid white;
		border-right: 2px solid white;
	}

	&--bottom-border:before {
		bottom: 0;
		left: 0;
		border-bottom: 2px solid white;
		border-left: 2px solid white;
	}

	&--bottom-border:after {
		bottom: 0;
		right: 0;
		border-bottom: 2px solid white;
		border-right: 2px solid white;
	}

	&--content {
		transition:
			background-color 100ms ease-in-out,
			color 100ms ease-in-out;
		padding: 4px 12px;
		display: flex;
		flex-direction: row;
		gap: 12px;
		align-items: center;
		justify-content: center;

		.ph-bold {
			font-size: 24px;
		}
	}
}
