@use 'variables' as vars;
@use '../mixins' as mixin;
@use 'sass:map';

$spacers: () !default;
$spacers: map.merge(
	(
		0: vars.$space-0,
		1: vars.$space-1,
		2: vars.$space-2,
		3: vars.$space-3,
		4: vars.$space-4,
		6: vars.$space-6,
		8: vars.$space-8,
		12: vars.$space-12,
		16: vars.$space-16,
		32: vars.$space-32
	),
	$spacers
);

@each $bp in map.keys(vars.$grid-breakpoints) {
	@include mixin.bp-breakpoint($bp) {
		$infix: mixin.bp-breakpoint-infix($bp, vars.$grid-breakpoints);
		@each $prop, $abbrev in (margin: m, padding: p) {
			@each $size, $length in $spacers {
				.#{$abbrev}#{$infix}-#{$size} {
					#{$prop}: $length !important;
				}
				.#{$abbrev}t#{$infix}-#{$size} {
					#{$prop}-top: $length !important;
				}
				.#{$abbrev}r#{$infix}-#{$size} {
					#{$prop}-right: $length !important;
				}
				.#{$abbrev}b#{$infix}-#{$size} {
					#{$prop}-bottom: $length !important;
				}
				.#{$abbrev}l#{$infix}-#{$size} {
					#{$prop}-left: $length !important;
				}
				.#{$abbrev}x#{$infix}-#{$size} {
					#{$prop}-inline: $length !important;
				}
				.#{$abbrev}y#{$infix}-#{$size} {
					#{$prop}-block: $length !important;
				}
			}
		}
	}
}
