:root {
	// Color
	--black: #1c1c1c;
	--white: #fafafa;
	--primary-100: #92a7b1;
	--primary-300: #648ca0;
	--primary-500: #517689;
	--primary-700: #263640;

	// Space

	// Font
	--font-family: 'Raleway', sans-serif;
}
