:root {
  // Color
  --black: #1C1C1C;
  --white: #FAFAFA;
  --primary-100: #92A7B1;
  --primary-300: #648CA0;
  --primary-500: #517689;
  --primary-700: #263640;

  // Space

  // Font
  --font-family: "Poppins", sans-serif;
}
