:host {
	margin-top: -80px;
	display: block;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;

	.star-canvas {
		position: absolute;
		top: 0;
		left: 0;
	}

	@media screen and (max-width: 1000px) {
		height: calc(100vh + 80px);
	}

	@media screen and (min-width: 1000px) {
		height: 100dvh;
	}

	@media screen and (max-width: 576px) {
		.display-sm {
			margin-top: 32px;
			font-size: 48px;
		}

		.wireframe-img {
			height: 450px;
			top: 50%;
			right: -450px;
			transform: translateY(-40%);
		}

		.hero-container {
			margin-top: 64px;
			align-items: start;
		}
	}

	@media screen and (min-width: 577px) {
		.display-sm {
			font-size: 60px;
		}

		.wireframe-img {
			height: 850px;
			top: 50%;
			right: -850px;
			transform: translateY(-50%);
		}

		.hero-container {
			align-items: center;
		}
	}

	.hero-container {
		position: inherit;
		z-index: 100;
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		height: 100%;
		gap: 40px;
	}

	.background-img {
		opacity: 80%;
		pointer-events: none;
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		object-fit: cover;

		mask-image: radial-gradient(ellipse 180% 250% at center left, black 30%, transparent 50%);
	}

	.wireframe-img {
		z-index: 0;
		position: absolute;
		pointer-events: none;
	}
}
