<div class="content-container">
	<div class="footer">
		<img class="no-select footer__logo" src="logo.png" alt="Ental Space Logo" />
		<div>
			<h6 class="h6 text-regular">Reach us on</h6>
			<div class="links">
				@for (link of links; track $index) {
					<a><i ktbzIcon [name]="link.icon" color="white" [size]="32"></i></a>
				}
			</div>
		</div>
		<div>
			<h6 class="h6 text-regular">Join our newsletter</h6>
			<div class="newsletter-field">
				<label class="control-wrapper">
					<span class="visually-hidden">E-mail</span>
					<div class="control-wrapper--top-border"></div>
					<input class="newsletter-control" placeholder="your-email@domain.com" />
					<div class="control-wrapper--bottom-border"></div>
				</label>
				<button ktbzButton>Join</button>
			</div>
		</div>
	</div>
	<div class="text-center">
		<div class="separator"></div>
		<p class="label-lg">© 2025 by Ental Space</p>
		<p class="label-lg">Made with passion by &#64;Kethableez</p>
	</div>
</div>
