:host {
  background: black;
  display: block;
  padding-block: 32px;
  border-top: 1px dashed gray;

  .footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    @media screen and (width >= 1000px) {

    flex-direction: row;
    justify-content: space-between;
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .separator {
    margin-inline: auto;
    display: block;
    width: 100%;
    height: 1px;
    background-color: gray;
  }

  .newsletter-field {
    width: 350px;
    display: flex;
    flex-direction: row;

    .control-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 8px;
      position: relative;

      &--top-border:before, &--top-border:after, &--bottom-border:before, &--bottom-border:after {
        transition: width 150ms ease-in-out, height 150ms ease-in-out;
        position: absolute;
        width: 10px;
        height: 10px;
        content: "";
        background-color: transparent;
      }

      &--top-border:before {
        top: 0;
        left: 0;
        border-top: 2px solid white;
        border-left: 2px solid white;
      }

      &--top-border:after {
        top: 0;
        right: 0;
        border-top: 2px solid white;
      }

      &--bottom-border:before {
        bottom: 0;
        left: 0;
        border-bottom: 2px solid white;
        border-left: 2px solid white;
      }

      &--bottom-border:after {
        bottom: 0;
        right: 0;
        border-bottom: 2px solid white;
      }
    }

    .newsletter-control {
      flex-grow: 1;
      border-radius:  8px 0 0 8px ;
      background-color: transparent;
      color: white;
    }
  }
}
