@use '../../../../assets/styles/core/variables' as vars;

$border: 2px solid var(--white);

:host {
	background: black;
	display: block;
	padding-block: 32px;
	border-top: 1px dashed gray;

	.footer {
		&__logo-container {
			align-self: center;
			flex-grow: 1;
			display: flex;
			flex-direction: row;
			justify-content: center;

			@media screen and (width >= vars.$breakpoint-md) {
				justify-content: start;
			}
		}

		&__logo {
			height: 32px;

			@media screen and (width >= 450px) {
				height: 48px;
			}
		}

		&__content {
			margin-top: 24px;
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 12px;
			justify-content: space-between;

			@media screen and (width >= vars.$breakpoint-md) {
				flex-direction: row;
			}
		}
	}

	.links {
		display: flex;
		flex-direction: row;
		gap: 20px;

		.social-link {
			position: relative;
			text-decoration: none;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 8px;
			transition: 100ms ease-in;
			color: transparent;

			&--inverted:active {
				i.ph {
					transition: color 150ms ease-in-out;

					color: black !important;
				}
			}

			&__highlighted {
				transition: height 150ms ease-in-out;
				position: absolute;
				top: 50%;
				bottom: 50%;
				background-color: red;
				width: 70%;
				//height: 70%;
				height: 0;
				z-index: 0;
				transform: translateY(-50%);
			}

			.social-link__top-border:before,
			.social-link__top-border:after,
			.social-link__bottom-border:before,
			.social-link__bottom-border:after {
				transition:
					width 150ms ease-in-out,
					height 150ms ease-in-out;
				border-width: 0 !important;
				position: absolute;
				width: 0;
				height: 0;
				content: '';
				background-color: transparent;
			}

			.social-link__top-border:before {
				top: 0;
				left: 0;
				border-top: $border;
				border-left: $border;
			}

			.social-link__top-border:after {
				top: 0;
				right: 0;
				border-top: $border;
				border-right: $border;
			}

			.social-link__bottom-border:before {
				bottom: 0;
				left: 0;
				border-bottom: $border;
				border-left: $border;
			}

			.social-link__bottom-border:after {
				bottom: 0;
				right: 0;
				border-bottom: $border;
				border-right: $border;
			}

			@media only screen and (width >= vars.$breakpoint-md) {
				&:hover {
					.social-link__top-border:before,
					.social-link__top-border:after,
					.social-link__bottom-border:before,
					.social-link__bottom-border:after {
						border-width: 2px !important;
						width: 10px;
						height: 10px;
					}
				}

				&:active {
					.social-link__highlighted {
						height: 70%;
					}
				}
			}

			@media only screen and (width < vars.$breakpoint-md) {
				&:focus-within {
					.social-link__top-border:before,
					.social-link__top-border:after,
					.social-link__bottom-border:before,
					.social-link__bottom-border:after {
						border-width: 2px !important;
						width: 10px;
						height: 10px;
					}
					.social-link__highlighted {
						height: 70%;
					}
				}
			}

			&:visited {
				text-decoration: none;
			}
		}
	}

	.separator {
		margin-block: 24px;
		margin-inline: auto;
		display: block;
		width: 100%;
		height: 1px;
		background-color: gray;
	}

	.newsletter-field {
		display: flex;
		width: 100%;
		flex-direction: column;
		gap: 8px;

		::ng-deep .btn {
			flex-grow: 1;
		}

		@media screen and (width >= vars.$breakpoint-md) {
			width: 350px;
			flex-direction: row;
		}

		.control-wrapper {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 8px;
			position: relative;
			height: 54px;
			box-sizing: border-box;

			@media screen and (width >= vars.$breakpoint-md) {
				height: initial;
			}

			&__top-border:before,
			&__top-border:after,
			&__bottom-border:before,
			&__bottom-border:after {
				transition:
					width 150ms ease-in-out,
					height 150ms ease-in-out;
				position: absolute;
				width: 10px;
				height: 10px;
				content: '';
				background-color: transparent;
			}

			&:focus-within {
				.control-wrapper__top-border:before,
				.control-wrapper__top-border:after,
				.control-wrapper__bottom-border:before,
				.control-wrapper__bottom-border:after {
					width: 16px;
					height: 16px;
				}
			}

			&__top-border:before {
				top: 0;
				left: 0;
				border-top: $border;
				border-left: $border;
			}

			&__top-border:after {
				top: 0;
				right: 0;
				border-top: $border;
				border-right: $border;
			}

			&__bottom-border:before {
				bottom: 0;
				left: 0;
				border-bottom: $border;
				border-left: $border;
			}

			&__bottom-border:after {
				bottom: 0;
				right: 0;
				border-bottom: $border;
				border-right: $border;
			}
		}

		.newsletter-control {
			flex-grow: 1;
			border-radius: 8px 0 0 8px;
			background-color: transparent;
			color: white;
		}
	}
}
