@use '../../../../assets/styles/core/variables' as vars;

$border: 2px solid var(--white);

:host {
	background: black;
	display: block;
	padding-block: 32px;
	border-top: 1px dashed gray;

	.h6 {
		margin-bottom: 8px;
	}

	.footer {
		display: flex;
		flex-direction: column;
		gap: 12px;
		@media screen and (width >= vars.$breakpoint-md) {
			flex-direction: row;
			justify-content: space-between;
		}

		&__logo {
			align-self: center;
		}
	}

	.links {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}

	.separator {
		margin-block: 24px;
		margin-inline: auto;
		display: block;
		width: 100%;
		height: 1px;
		background-color: gray;
	}

	.newsletter-field {
		display: flex;
		width: 100%;
		flex-direction: column;

		::ng-deep .btn {
			flex-grow: 1;
		}

		@media screen and (width >= vars.$breakpoint-md) {
			width: 350px;
			flex-direction: row;
		}

		.control-wrapper {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 8px;
			position: relative;
			margin-bottom: -2px;
			margin-right: 0;
			height: 54px;
			box-sizing: border-box;

			@media screen and (width >= vars.$breakpoint-md) {
				margin-bottom: 0;
				margin-right: -2px;
			}

			&--top-border:before,
			&--top-border:after,
			&--bottom-border:before,
			&--bottom-border:after {
				transition:
					width 150ms ease-in-out,
					height 150ms ease-in-out;
				position: absolute;
				width: 10px;
				height: 10px;
				content: '';
				background-color: transparent;
			}

			&--top-border:before {
				top: 0;
				left: 0;
				border-top: $border;
				border-left: $border;
			}

			&--top-border:after {
				top: 0;
				right: 0;
				border-top: $border;
				border-right: $border;
			}

			&--bottom-border:before {
				bottom: 0;
				left: 0;
				border-bottom: $border;
				border-left: $border;
			}

			&--bottom-border:after {
				bottom: 0;
				right: 0;
				border-bottom: $border;
				border-right: $border;
			}
		}

		.newsletter-control {
			flex-grow: 1;
			border-radius: 8px 0 0 8px;
			background-color: transparent;
			color: white;
		}
	}
}
